<p-toolbar styleClass="shadow-md">
	<div class="p-toolbar-group-left fadein animation-duration-250">
		<div class="text-2xl flex font-sans font-black opacity-75 text-green-900">
			<div class="flex">Rentne</div>
			<div style="transform: scaleX(-1)">R</div>
		</div>
	</div>

	<div class="p-toolbar-group-right">
		<button pButton pRipple icon="pi pi-search"></button>
		<button pButton pRipple icon="pi pi-calendar" class="p-button-success"></button>
		<button pButton pRipple icon="pi pi-times" class="p-button-danger"></button>
	</div>
</p-toolbar>
