<div class="relative mx-auto">
	<div class="w-full h-32 lg:h-52">
		<img class="w-full h-32 lg:h-52 object-cover rounded-t-lg" [src]="imgSrc" alt="Mountain" />
	</div>
	<div class="w-full text-lg font-sans p-2 lg:p-4">
		<div class="font-semibold text-gray-800 flex flex-row flex-wrap items-center">
			<div class="flex flex-row pr-2 items-center">{{ vehicle.manufacturer }}</div>
			<div class="flex flex-row items-center">{{ vehicle.model }}</div>
			<div class="flex flex-row text-sm text-gray-600 w-full items-center">{{ vehicle.code }}</div>
		</div>
		<div class="flex flex-row items-center">
			<ng-container *ngIf="!large; else rowView">
				<div class="flex flex-col pt-6 pb-2 text-base justify-start text-gray-800">
					<div class="flex items-center w-full">
						<div class="flex items-center pr-2"><span class="material-icons text-green-800">local_gas_station</span></div>
						<div class="flex items-center font-semibold">{{ vehicle.gasType }}</div>
					</div>
					<div class="flex items-center w-full">
						<div class="flex items-center pr-2"><span class="material-icons text-green-800">palette</span></div>
						<div class="flex items-center font-semibold">{{ vehicle.color }}</div>
					</div>
					<div class="flex items-center w-full">
						<div class="flex items-center pr-2"><span class="material-icons text-green-800">explore</span></div>
						<div class="flex items-center font-semibold">{{ vehicle.currentKilometers }}</div>
					</div>
					<div class="flex items-center w-full">
						<div class="flex items-center pr-2"><span class="material-icons text-green-800">construction</span></div>
						<div class="flex items-center font-semibold">{{ vehicle.dateOfManufacture | date: 'dd. MM. yyyy.' }}</div>
					</div>
				</div>
			</ng-container>
		</div>
		<div *ngIf="button" class="w-full flex-row flex-wrap pt-4 items-center">
			<a [routerLink]="['/vehicle/rent/' + vehicle.pkVehicle]">
				<button class="w-full" pRipple label="Rent it" pButton type="button" icon="pi pi-check" iconPos="left"></button>
			</a>
		</div>
	</div>
	<app-status-icon *ngIf="vehicle?.vehicleStatus?.pkVehicleStatus" [status]="vehicle?.vehicleStatus?.pkVehicleStatus"></app-status-icon>
</div>

<ng-template #rowView>
	<div class="flex flex-col lg:flex-row flex-wrap lg:w-full lg:justify-between pt-6 pb-2 text-base justify-start text-gray-800">
		<div class="flex items-center w-full lg:w-1/4">
			<div class="flex items-center pr-2"><span class="material-icons text-green-800">local_gas_station</span></div>
			<div class="flex items-center font-semibold">{{ vehicle.gasType }}</div>
		</div>
		<div class="flex items-center w-full lg:w-1/4">
			<div class="flex items-center pr-2"><span class="material-icons text-green-800">palette</span></div>
			<div class="flex items-center font-semibold">{{ vehicle.color }}</div>
		</div>
		<div class="flex items-center w-full lg:w-1/4">
			<div class="flex items-center pr-2"><span class="material-icons text-green-800">explore</span></div>
			<div class="flex items-center font-semibold">{{ vehicle.currentKilometers }}</div>
		</div>
		<div class="flex items-center w-full lg:w-1/4">
			<div class="flex items-center pr-2"><span class="material-icons text-green-800">construction</span></div>
			<div class="flex items-center font-semibold">{{ vehicle.dateOfManufacture | date: 'dd. MM. yyyy.' }}</div>
		</div>
	</div>
</ng-template>
